main.aux
main.bcf
main.fdb_latexmk
main.fls
main.log
main.pdf
main.run.xml
main.synctex.gz
Perrinet23icann.aux
Perrinet23icann.bbl
Perrinet23icann.bcf
Perrinet23icann.blg
Perrinet23icann.fdb_latexmk
Perrinet23icann.fls
Perrinet23icann.log
Perrinet23icann.out
Perrinet23icann.pdf
Perrinet23icann.run.xml
Perrinet23icann.synctex.gz
samplepaper.tex
KeatingPerrinet23icann.aux
KeatingPerrinet23icann.bbl
KeatingPerrinet23icann.blg
KeatingPerrinet23icann.fdb_latexmk
KeatingPerrinet23icann.fls
KeatingPerrinet23icann.log
KeatingPerrinet23icann.out
KeatingPerrinet23icann.pdf
KeatingPerrinet23icann.synctex.gz
