main.aux
main.bcf
main.fdb_latexmk
main.fls
main.log
main.pdf
main.run.xml
main.synctex.gz
Perrinet23icann.aux
Perrinet23icann.bbl
Perrinet23icann.bcf
Perrinet23icann.blg
Perrinet23icann.fdb_latexmk
Perrinet23icann.fls
Perrinet23icann.log
Perrinet23icann.out
Perrinet23icann.pdf
Perrinet23icann.run.xml
Perrinet23icann.synctex.gz
samplepaper.tex
Perrinet23icann.zip
Perrinet23icann.synctex(busy)
pdflatex67058.fls
data_cache/2023-09-27_scan_E_SM.json
data_cache/2023-09-27_scan_N_pre.json
data_cache/2023-09-27_scan_N_SM_time.json
data_cache/2023-09-27_scan_N_SMs.json
data_cache/2023-09-27_scan_p_A.json
data_cache/2023-09-27_scan_p_B.json
data_cache/2023-09-27_scan_p_SM.json
data_cache/2023-09-27_scan_tau_decay.json
data_cache/2023-09-27_scan_tau_rise.json
data_cache/2023-09-27_SL_THC_DEBUG=1.pth
data_cache/2023-09-27_US_lr=1.00e-05_THC_DEBUG=1.pth
data_cache/2023-09-27_US_lr=1.58e-04_THC_DEBUG=1.pth
data_cache/2023-09-27_US_lr=2.51e-05_THC_DEBUG=1.pth
data_cache/2023-09-27_US_lr=3.98e-04_THC_DEBUG=1.pth
data_cache/2023-09-27_US_lr=6.31e-05_THC_DEBUG=1.pth
data_cache/2023-09-27_US_lr=1.00e-03_THC_DEBUG=1.pth
